body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url("img/background/ankurrabha-desert.png");
}

canvas {
  background-color: black;
  border: 1px solid black;
  border-radius: 1rem;
}
